body {
    font-family: Arial, sans-serif;
}

#addForm {
    width: 300px;
    margin: 0 auto;
}

#addForm label {
    display: block;
    margin-top: 20px;
}

#addForm input[type="text"],
#addForm input[type="email"],
#addForm input[type="tel"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
}

#addForm input[type="submit"] {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

#addForm input[type="submit"]:hover {
    background-color: #111;
}