body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #333;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #333;
    color: white;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    color: #111;
}

img {
    max-width: 100px;
    height: auto;
}

#addButton {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#addButton:hover {
    background-color: #45a049;
}
#backToHome {
    background-color: #007BFF; /* Blue */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#backToHome:hover {
    background-color: #0069D9; /* Darker Blue */
}